*{
    font-style: italic;
    font-size: 40px;
}
.header{
    background_color: steelblue;
    padding: 15px 30px;
    height: auto;
}
#branding{
    float: left;
}
#branding h1{
    margin: 0 0 8px;
}
.main_body{
    background-color: lavender;
}